@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Add the following custom styles for the loader */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spinner 0.5s linear infinite;
  border: 0.4rem solid transparent;
  border-top-color: #62c860;
  border-bottom-color: #62c860;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

/* styles/global.css */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../public/calendar.svg");
  /* Add any additional styles you want for the calendar picker indicator */
}
