@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  div {
    @apply animate-fadeIn; /* Apply default animation */
/* } */
/* }  */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.captcha {
  width: 100%;
}

.captcha > div > div > div {
  width: 100% !important;
}
@media screen and (max-width: 400px) {
  .captcha > div > div > div > div > iframe {
    width: 100% !important;
  }
}

/* Add the following custom styles for the loader */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spinner 0.5s linear infinite;
  border: 0.4rem solid transparent;
  border-top-color: #62c860;
  border-bottom-color: #62c860;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

/* styles/global.css */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../public/calendar.svg");
  /* Add any additional styles you want for the calendar picker indicator */
}

/* styles/global.css for Swiper [ Trending Page ] */
.swiper-button-next,
.swiper-button-prev {
  background-color: #091619;
  background-color: #091619;
  border-radius: 12px;
  right: 10px;
  padding: 30px 24px;
  font-size: 10px !important;
  color: #43dd4e !important;
  fill: #43dd4e !important;
  stroke: #43dd4e !important;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;
  left: 30px !important;
}
.swiper-pagination {
  text-align: start !important;
}

.swiper-pagination-bullet {
  width: 34px !important;
  border-radius: 10px !important;
  background-color: #ffffff !important;
}
.swiper-pagination-bullet-active {
  background-color: #43dd4e !important;
}

/* high quality images */
.disable-blur {
  image-rendering: -webkit-optimize-contrast;
}

body,
html {
  background-color: #091619;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#__next {
  height: 100%;
}

/* Define the normal and lifted states */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover,
.card.is-lifted {
  transform: translateY(-5px); /* Adjust value for the lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow for a lifting appearance */
}

/* INPUT ERRORS */
.input-error {
  border: 1px solid #f87171; /* Red border color */
  color: #b91c1c; /* Red text color */
}

.input-error:focus {
  border-color: #ef4444; /* Darker red border on focus */
  outline: none; /* Remove default outline */
}

.input-error::placeholder {
  color: #fca5a5; /* Light red placeholder text */
}
/* BASE INPUT MESSAGE */
.base-input-message {
  font-weight: 500;
  transition: color 3s ease-in;
  color: rgb(242, 112, 138);
}
