name: Node.js CI update
on:
  push:
    branches: ['hamza']
    paths: 
      - 'backend/**'
jobs:
  build_backend:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'  # Specify the Node.js version you want to use
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install --package-lock-only
          npm ci

      - name: Create .env file
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Build backend
        run: npm run build

      - name: Archive backend
        run: tar -czf backend.tar.gz -C backend .

  deploy:
    runs-on: self-hosted
    needs: build_backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy backend
        run: |
          ssh ec2-user@your-ec2-instance 'cd /var/www/backend && tar -xzf backend.tar.gz && npm start'
