name: Node.js CI update
on:
  push:
    branches: ["hamza"]
    paths:
      - "backend/**"

jobs:
  build_backend:
    runs-on: self-hosted
    working-directory: backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          working-directory: backend

      - name: Install dependencies
        working-directory: backend
        run: |
          npm install
          npm ci

      - name: Create .env file
        working-directory: backend
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Build backend
        working-directory: backend
        run: |
          npm run build

      - name: Archive backend
        working-directory: backend
        run: |
          tar -czf backend.tar.gz .

  deploy:
    runs-on: self-hosted
    needs: build_backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy backend
        run: |
          scp backend/backend.tar.gz ec2-user@your-ec2-instance:/var/www/backend/backend.tar.gz
          ssh ec2-user@your-ec2-instance 'cd /var/www/backend && tar -xzf backend.tar.gz && npm start'
