name: Node.js CI update
on:
  push:
    branches: ["hamza"]
    paths:
      - "backend/**"

jobs:
  build_backend:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./backend/
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "20" # Specify the Node.js version
          cache-dependency-path: './backend/package-lock.json'

      - name: Install dependencies
        working-directory: backend
        run: |
          npm install
          npm ci



      - name: Create .env file
        working-directory: backend
        run: |
          touch .env.production
          echo PROD_ENV_FILE=${{ secrets.PROD_ENV_FILE }} >> .env.production


    


  deploy:
    runs-on: self-hosted
    needs: build_backend

    defaults:
      run:
        working-directory: ./backend/
    steps:
      - name: deploying backend
        working-directory: backend
        run: |
          npm run prod
