name: Node.js CI update
on:
  push:
    branches: ['main']
    paths: 
      - 'backend/**'
jobs:
  build_backend:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: 'backend'
    steps:
      - name: Set working directory to backend
        working-directory: backend
      - uses: actions/checkout@v3
        with:
          path: 'backend'
         
      - name: Generate dependencies lock file
        run: npm install --package-lock-only
        working-directory: backend
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          working-directory: 'backend'
    
      - run: npm ci
      - run: |
          touch .env
          echo "${{ secrets.PROD_ENV_FILE }}" > .env
      - name: Build backend
        run: npm run build
      - name: Archive backend
        run: tar -czf backend.tar.gz -C backend .
  deploy:
    runs-on: self-hosted
    needs: build_backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Copy backend to EC2
        run: |
          scp -i ${{secrets.EC2_KEY}} backend/backend.tar.gz ec2-user@your-ec2-instance:/var/www/backend
      - name: Deploy backend
        run: |
          ssh -i ${{secrets.EC2_KEY}} ec2-user@your-ec2-instance 'cd /var/www/backend && tar -xzf backend.tar.gz && npm start'
